html{
    height: 100%;
}

body{
    margin: 0 auto;
}

.sidebar-main {
    height: 100vh;
    width: 20%;
    float:left;
    padding: 0.5rem;
    background-color: rgb(226,232,227);
    /*position: absolute;
    top: 0;
    left: 0;*/
}

.content{
    height: 100vh;
    /*width: 70%;*/
    /*float: right;*/
    background-color: #919195;
}

.sidebar-title {
    padding: 0px;
    position: relative;
    font-family: 'sans-serif';
    font-size: 25px;
    color: black;
    display: inline-block;
}

.sidebar .new-room{
    font-size: 10px;
}

.rooms-list {
    /*width: 100%;*/
    display: block;
    font-family: 'sans-serif';
    font-size: 20px;
    margin: 5px 0 5px 0;
}

a {
    text-decoration: none;
}

@media (min-width: 640px){
    html{ font-size: 112%; }

    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
 }

    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.sixth { width: 16%; }
    .column.five-sixth { width: 84%; }
    .column.flow-opposite { float: right; }
}

@media (min-width: 1024px){
  html{ font-size: 120%; }
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}
