    <div class="modal vertical-alignment-helper vertical-align-center" tabindex="-1" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" role="document">
                <section class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">×</span></button>
                            <h5 class="modal-title">New Room Name</h5>
                    </div>
                    <div class="modal-body">
                        <input class="input" type="text" name="input" ng-model="roomName" placeholder="Enter Name" >
                    </div>
                    <div class="modal-footer">
                        <button class="new" type="button" ng-click="submit(roomName)">Create room</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
