<section class="sidebar-main">
    <nav class="sidebar column">
            <span class="sidebar-title">
                <h1>Bloc Chat</h1>
            </span>
            <span class="new-room">
                <button class="new-room" ng-click="home.addRoom()">New Room</button>
            </span>
            <span class="rooms-list" ng-repeat="room in home.rooms" ng-click="setCurrentRoom(room)">{{ home.room.name }}</span>
    </nav>
</section>
<section class="content">
    <h3>{{ home.currentRoom.name }} Messages</h3>
    <div class="message" ng-repeat="message in messages">
        <div class="username">{{ message.username }}</div>
        <div class="timestamp">{{ message.sentAt}}</div>
        <div class="user-message">{{ message.content }}</div>
    </div>
</section>
